<!DOCTYPE html>
<html>

<head>
    <title><%=title%></title>

    <!--css -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link type="text/css" rel="stylesheet"
          href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/amanjot">Amanjot</a></li>
        <li><a href="/suman">Suman</a></li>
        <li><a href="/jaswinder">Jaswinder</a></li>
        <li><a href="/gurjant">Gurjant</a></li>
    </ul>
</nav>